@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;400;700&family=Tilt+Neon&display=swap');

/* 
    BRAND COLORS:
        BACKGROUND: #ffffff
        PRINCIPAL 1: #3388f5
        INTERMEDIARIA 1: #6d71ba
        INTERMEDIARIA 2: #a85a7f
        PRINCIPAL 2: #e34444
*/

body {
    background-color: #fff;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'K2D', sans-serif;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    font-family: 'K2D', sans-serif;
    padding-top: 20px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-family: 'K2D', sans-serif;
    color: #e34444;
}

p {
    text-align: justify;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Tilt Neon', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    font-weight: 900;
    font-size: 20px;
}

nav img {
    margin-left: 20px;
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

nav li {
    margin: 20px;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}

nav li a {
    border-radius: 5px;
    text-decoration: none;
    color: #3388f5;
}

nav li a:hover {
    color: #e34444;
}

header {
    background-color: #3388f5;
}

header h1 {
    text-align: center;
    color: #fff;
}

header p {
    text-align: justify;
    color: #fff;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: #3388f5;
    color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
}

footer p {
    text-align: center;
    font-size: 16px;
}

.information_container {
    width: 100%;
    height: auto;
    background-color: #3388f5;
    color: #fff;
}

.information_container,
.warning_container {
    padding-bottom: 50px;
}

.information_container p,
.warning_container p {
    margin-left: 200px;
    margin-right: 200px;
}

.information_container h1,
.warning_container h1 {
    padding-top: 30px;
}

.warning_container h1 {
    color: #fff !important;
}

#gallery {
    align-content: center;
    background-color: #fff;
}

.species {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.species p {
    color: #000;
}

.species h2,
#gallery h1 {
    color: #3388f5;
}

.species h3 {
    font-style: italic;
}

.whale_container {
    align-items: center;
    width: 100%;
}

.species img {
    object-fit: cover;
    width: 100%;
    height: 700px;
    border-radius: 8%;
}

.whale_img {
    width: 50%;
    padding: 10px;
    float: left;
    margin-right: 20px;
}

.whale_img_right {
    width: 50%;
    padding: 10px;
    float: right;
    margin-left: 20px;
}

.warning_container {
    background-color: #e34444;
    color: #fff;
    margin-bottom: 30px;
}

#forms {
    background-image: url(images/info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.forms_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fundo_forms {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.elemento {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Tilt Neon', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #3388f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-weight: 700;
}

button:hover {
    background-color: #e34444;
}

button:active {
    box-shadow: #3388f5 1px 1px 1px;
}

input,
textarea,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #3388f5;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact input,
#contact textarea,
#contact select {
    margin-top: 5px;
}

input {
    height: 40px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

textarea {
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

select {
    height: 40px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}


input#nomebaleia {
    font-family: 'K2D', sans-serif;
    width: 40%;
    padding: 10px;
    font-size: 16px;
}

input#idade {
    font-family: 'K2D', sans-serif;
    width: 23%;
    padding: 10px;
    font-size: 16px;
}

.list_input {
    margin-right: 2px;
    margin-left: 2px;
    border: 1px solid;
    border-color:#3388f5;
}

input:hover {
    border: 1px solid;
    border-color:#3388f5;
}

.list_button {
    font-family: 'K2D', sans-serif;
    margin-top:5px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 10px;
    border-radius: 5px;
    width: 12.5%;
    background: #fff;
    color: #3388f5;
    border: 1px solid;
    border-color:#3388f5;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.list_button:hover {
    background-color: #3388f5;
    color: #fff;
}

ul#listaBaleias {
    padding: 0;
    margin-top:0;
    margin-bottom:50px;
}

ul#listaBaleias li {
    font-family: 'Tilt Neon', sans-serif;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #fff;
    font-size: 18px;
    color: #3388f5;
}

ul#listaBaleias li:nth-child(odd) {
    background: #F1F1F1;
}

ul#listaBaleias li:hover {
    background: #6F6F6F;
    color: #fff;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    margin-right: 40px;
}

.close:hover {
    background-color: #e34444;
    color: white;
}

#list_container {
    margin-left: 200px;
    margin-right: 200px;
}

#formlist {
    padding-left: 200px;
    padding-right: 200px;
}